<% provide(:title, 'Help') %>
<center><h1>One Hand Axe</h1></center>
<!-- Button trigger modal -->
<div class="modal-body">
<center><button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
  Corruption
</button></center>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Corrupted One Hand Axe Implict</h4>
      </div>
      <div class="modal-body">
		<p>iLvl 1: 0.2% of Fire Damage Leeched as Life</p>
		<p>iLvl 1: 0.2% of Cold Damage Leeched as Life</p>
		<p>iLvl 1: 0.2% of Lightning Damage Leeched as Life</p>
		<p>iLvl 1: 5% Chance to Cause Monsters to Flee</p>
		<p>iLvl 1: +1 to 2 to Weapon range</p>
		<p>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</p>
		<p>iLvl 1: Culling Strike</p>
		<p>iLvl 20: Gems in this item are supported by level 10 Melee Splash</p>
		<p>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</p>
		<p>iLvl 31: Grants level 10 Vulnerability Skill</p>
		<p>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Paneli -->
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="div1">
		<div class="alert alert-info" role="alert"><center>Префикс</center></div>
		<!-- Панель -->
		 <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Adds # - # Physical Damage
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		        <p>iLvl 2: 1 / 2 to 3 (Glinting)</p>
				<p>iLvl 13: 4 to 5 / 8 to 9 (Burnished)</p>
				<p>iLvl 20: 7 to 9 / 13 to 16 (Vagan lvl 2)</p>
				<p>iLvl 21: 6 to 8 / 12 to 14 (Polished)</p>
				<p>iLvl 29: 7 to 10 / 15 to 18 (Honed)</p>
				<p>iLvl 30: 10 to 13 / 17 to 20 (Vagan lvl 4)</p>
				<p>iLvl 36: 9 to 12 / 19 to 22 (Gleaming)</p>
				<p>iLvl 46: 12 to 16 / 24 to 28 (Annealed)</p>
				<p>iLvl 54: 13 to 18 / 27 to 32 (Razor Sharp)</p>
				<p>iLvl 65: 16 to 22 / 33 to 38 (Tempered)</p>
				<p>iLvl 77: 19 to 25 / 38 to 45 (Flaring)</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          #% increased Physical Damage
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		        <h3>Local Physical Damage +%</h3>
				<p>iLvl 1: 40 to 49 (Heavy)</p>
				<p>iLvl 11: 50 to 64 (Serrated)</p>
				<p>iLvl 20: 40 to 59 (Vagan lvl 3)</p>
				<p>iLvl 23: 65 to 84 (Wicked)</p>
				<p>iLvl 30: 60 to 79 (Vagan lvl 5)</p>
				<p>iLvl 35: 85 to 109 (Vicious)</p>
				<p>iLvl 46: 110 to 134 (Bloodthirsty)</p>
				<p>iLvl 60: 135 to 154 (Cruel)</p>
				<p>iLvl 73: 155 to 169 (Tyrannical)</p>
				<p>iLvl 83: 170 to 179 (Merciless)</p>

		      </div>
		    </div>
		  </div>
</div>

	<div class="div2">
	<!-- Вторая панель -->
	<div class="alert alert-info" role="alert"><center>Суффикс</center></div>
	  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Collapsible Group Item #3
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		      </div>
		    </div>
		</div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingInsertId">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseInsertId" aria-expanded="false" aria-controls="collapseInsertId">
              Collapsible Group Item #3
            </a>
          </h4>
        </div>
        <div id="collapseInsertId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingInsertId">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
    </div>
		<!-- END -->
	</div>
	<!-- Text -->
	<p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>

<p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
