<% provide(:title, 'Главная страница') %>
<% provide(:description, 'Помощь в крафте предметов в игре Path of Exile - Список Префиксов и Суффиксов на все предметы.') %>
<div class="center hero-unit">
  <h1><center>Префиксы и Суффиксы PoE</center></h1>

  <h2>Полный кликабельный список предметов:</h2>

 <div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="/images/one-hand.jpg" alt="Одноручное оружие Path of Exile">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Одноручное оружие</h4>
    	<ol class="breadcrumb">
		  <li><a href="/odnoruchnyj-topor">Топор</a></li>
		  <li><a href="/kogti">Когти</a></li>
		  <li><a href="/odnoruchnyj-kinzhal">Кинжал</a></li>
		  <li><a href="/odnoruchnaya-bulava">Булава</a></li>
		  <li><a href="/skipetr">Скипетр</a></li>
		  <li><a href="/odnoruchnyj-mech">Меч</a></li>
		  <li><a href="/zhezl">Жезл</a></li>
		</ol>
  </div>
</div>
<!-- end of div -->
  <div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="/images/two-hand.jpg" alt="Одноручное оружие Path of Exile">
 </div>
  <div class="media-body">
    <h4 class="media-heading">Двуручное оружие</h4>
    	<ol class="breadcrumb">
		  <li><a href="/dvuruchnyj-topor">Топор</a></li>
		  <li><a href="/luk">Лук</a></li>
		  <li><a href="/dvuruchnaya-bulava">Булава</a></li>
		  <li><a href="/posoh">Посох</a></li>
		  <li><a href="/dvuruchnyj-mech">Меч</a></li>
		  <li><a href="/udochka">Удочка</a></li>
		</ol>
  </div>
</div>
<!-- end of div -->
  <div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="/images/body-armour.jpg" alt="Одноручное оружие Path of Exile">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Нагрудный доспех</h4>
    	<ol class="breadcrumb">
		  <li><a href="/bronya">Броня</a></li>
		  <li><a href="/uklonenie">Уклонение</a></li>
		  <li><a href="/ehnergeticheskij-shchit">Энергетический Щит</a></li>
		  <li><a href="/bronya-ehnergeticheskij-shchit">Броня | Энергетический Щит</a></li>
		  <li><a href="/bronya-uklonenie">Броня | Уклонение</a></li>
		  <li><a href="/ehnergeticheskij-shchit-uklonenie">Уклонение | Энергетический Щит</a></li>
		  <li><a href="/zhertvennoe-oblachenie">Жертвенное облачение</a></li>
		</ol>
  </div>
</div>
<!-- end of div -->
  <div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="/images/helmet.jpg" alt="Одноручное оружие Path of Exile">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Шлем</h4>
    	<ol class="breadcrumb">
		  <li><a href="/shlem/bronya">Броня</a></li>
		  <li><a href="/shlem/uklonenie">Уклонение</a></li>
		  <li><a href="/shlem/ehnergeticheskij-shchit">Энергетический Щит</a></li>
		  <li><a href="/shlem/bronya-ehnergeticheskij-shchit">Броня | Энергетический Щит</a></li>
		  <li><a href="/shlem/bronya-uklonenie">Броня | Уклонение</a></li>
		  <li><a href="/shlem/ehnergeticheskij-shchit-uklonenie">Уклонение | Энергетический Щит</a></li>
		</ol>
  </div>
</div>
<!-- end of div -->
  <div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="/images/gloves.jpg" alt="Одноручное оружие Path of Exile">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Перчатки</h4>
    	<ol class="breadcrumb">
		  <li><a href="#">Броня</a></li>
		  <li><a href="#">Уклонение</a></li>
		  <li><a href="#">Энергетический Щит</a></li>
		  <li><a href="#">Броня | Энергетический Щит</a></li>
		  <li><a href="#">Броня | Уклонение</a></li>
		  <li><a href="#">Уклонение | Энергетический Щит</a></li>
		</ol>
  </div>
</div>
<!-- end of div -->
  <div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="/images/boots.jpg" alt="Одноручное оружие Path of Exile">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Обувь</h4>
    	<ol class="breadcrumb">
		  <li><a href="#">Броня</a></li>
		  <li><a href="#">Уклонение</a></li>
		  <li><a href="#">Энергетический Щит</a></li>
		  <li><a href="#">Броня | Энергетический Щит</a></li>
		  <li><a href="#">Броня | Уклонение</a></li>
		  <li><a href="#">Уклонение | Энергетический Щит</a></li>
		</ol>
  </div>
</div>
<!-- end of div -->
  <div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="/images/shield.jpg" alt="Одноручное оружие Path of Exile">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Щит</h4>
    	<ol class="breadcrumb">
		  <li><a href="#">Броня</a></li>
		  <li><a href="#">Уклонение</a></li>
		  <li><a href="#">Энергетический Щит</a></li>
		  <li><a href="#">Броня | Энергетический Щит</a></li>
		  <li><a href="#">Броня | Уклонение</a></li>
		  <li><a href="#">Уклонение | Энергетический Щит</a></li>
		</ol>
  </div>
</div>
<!-- end of div -->
  <div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="/images/jewel.jpg" alt="Одноручное оружие Path of Exile">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Самоцвет</h4>
    	<ol class="breadcrumb">
		  <li><a href="#">Кобальтовый самоцвет</a></li>
		  <li><a href="#">Багровый самоцвет</a></li>
		  <li><a href="#">Бирюзовый самоцвет</a></li>
		</ol>
  </div>
</div>
<!-- end of div -->
  <div class="media">
  <div class="media-left media-middle">
      <img class="media-object" src="/images/accessories.jpg" alt="Одноручное оружие Path of Exile">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Аксессуары</h4>
    	<ol class="breadcrumb">
		  <li><a href="#">Талисманы</a></li>
		  <li><a href="#">Пояса</a></li>
		  <li><a href="#">Кольца</a></li>
		  <li><a href="#">Колчаны</a></li>
		</ol>
  </div>
</div>
<!-- end of div -->