<% provide(:title, 'Одноручные топоры') %>
<center><h1>One Hand Axe</h1></center>
<!-- Button trigger modal -->
<div class="modal-body">
<center><button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
  Corruption
</button></center>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Corrupted One Hand Axe Implict</h4>
      </div>
      <div class="modal-body">
		<p>Уровень предмета 1: 0.2% of Fire Damage Leeched as Life</p>
		<p>Уровень предмета 1: 0.2% of Cold Damage Leeched as Life</p>
		<p>Уровень предмета 1: 0.2% of Lightning Damage Leeched as Life</p>
		<p>Уровень предмета 1: 5% Chance-Cause Monsters-Flee</p>
		<p>Уровень предмета 1: +1-2-Weapon range</p>
		<p>Уровень предмета 1: Adds 1-2 / 3-5 Chaos Damage</p>
		<p>Уровень предмета 1: Culling Strike</p>
		<p>Уровень предмета 20: Gems in this item are supported by level 10 Melee Splash</p>
		<p>Уровень предмета 20: Adds 6-8 / 11-13 Chaos Damage</p>
		<p>Уровень предмета 31: Grants level 10 Vulnerability Skill</p>
		<p>Уровень предмета 40: Adds 8-11 / 19-23 Chaos Damage</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Paneli -->
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="div1">
		<div class="alert alert-info" role="alert"><center>Префикс</center></div>
		<!-- Панель -->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
              Уникальное ремесло мастеров
            </a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <div class="panel-body">
            <h3>Лео | Leo</h3>
            <p>Уровень 2: от 10% до 15% сниженный шанс блокирования противника.</p>
            <p>Уровень 3: от 15% до 30% увеличеный урон наносимый со временем.</p>
            <h3>Терона | Tora</h3>
            <p>Уровень 8: Суффиксы не могут быть изменены.</p>
            <h3>Вильмар | Vagan</h3>
            <p>Уровень 6: от 2% до 5% дополнительного шанса блока при парном экипировании оружия.</p>
            <p>Уровень 7: Приводит к кровотечению при попадании в противника.</p>
          </div>
        </div>
    </div>
		 <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Добавляет # - # Физического Урона
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		        <p>Уровень предмета 2: <b>1 / 2-3</b></p>
				<p>Уровень предмета 13: <b>4-5 / 8-9</b></p>
				<p>Уровень предмета 20: <b>7-9 / 13-16</b> (Вильмар lvl 2)</p>
				<p>Уровень предмета 21: <b>6-8 / 12-14</b></p>
				<p>Уровень предмета 29: <b>7-10 / 15-18</b></p>
				<p>Уровень предмета 30: <b>10-13 / 17-20</b> (Вильмар lvl 4)</p>
				<p>Уровень предмета 36: <b>9-12 / 19-22</b></p>
				<p>Уровень предмета 46: <b>12-16 / 24-28</b></p>
				<p>Уровень предмета 54: <b>13-18 / 27-32</b></p>
				<p>Уровень предмета 65: <b>16-22 / 33-38</b></p>
				<p>Уровень предмета 77: <b>19-25 / 38-45</b></p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          #% увеличен Физический Урон
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
				<p>Уровень предмета 1: <b>40-49</b></p>
				<p>Уровень предмета 11: <b>50-64</b></p>
				<p>Уровень предмета 20: <b>40-59</b> (Вильмар lvl 3)</p>
				<p>Уровень предмета 23: <b>65-84</b></p>
				<p>Уровень предмета 30: <b>60-79</b> (Вильмар lvl 5)</p>
				<p>Уровень предмета 35: <b>85-109</b></p>
				<p>Уровень предмета 46: <b>110-134</b></p>
				<p>Уровень предмета 60: <b>135-154</b></p>
				<p>Уровень предмета 73: <b>155-169</b></p>
				<p>Уровень предмета 83: <b>170-179</b></p>
		      </div>
		    </div>
		  </div>
	 <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
              #% увеличен Физический Урон / +# к показателю Меткости
            </a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
          <div class="panel-body">
				<p>iLvl 1: <b>15-19</b> / <b>3-7</b></p>
				<p>iLvl 11: <b>20-24</b> / <b>8-30</b></p>
				<p>iLvl 23: <b>25-34</b> / <b>31-50</b></p>
				<p>iLvl 35: <b>35-44</b> / <b>51-64</b></p>
				<p>iLvl 46: <b>45-54</b> / <b>65-82</b></p>
				<p>iLvl 60: <b>55-64</b> / <b>83-99</b></p>
				<p>iLvl 73: <b>65-74</b> / <b>100-134</b></p>
				<p>iLvl 83: <b>75-79</b> / <b>135-169</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading7">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
              К локальному уровню камней
            </a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
          <div class="panel-body">
            <p>iLvl 50: <b>+1</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading8">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
              К локальному уровню камней ближнего боя
            </a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
          <div class="panel-body">
            <p>iLvl 8: <b>+1</b></p>
			<p>iLvl 63: <b>+2</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading9">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
              #% Физического Урона Восполняется как Здоровье
            </a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
          <div class="panel-body">
            <p>iLvl 20: <b>0.2</b> to 0.4</p>
			<p>iLvl 35: <b>0.6</b> to 0.8</p>
			<p>iLvl 50: <b>0.2</b> to 0.4</p>
			<p>iLvl 60: <b>0.6</b> to 0.8</p>
			<p>iLvl 70: <b>1</b> to <b>1.2</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading10">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
              #% Физического Урона Восполняется как Мана
            </a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
          <div class="panel-body">
            <p>iLvl 20: <b>0.2 to <b>0.4</b></b> (Вильмар Уровень 5)</p>
			<p>iLvl 50: <b>0.2</b> to <b>0.4</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading11">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
              +% Увеличен элементальный урон с оружием
            </a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
          <div class="panel-body">
			<p>iLvl 4: <b>5 to 10</b></p>
			<p>iLvl 15: <b>11 to 20</b></p>
			<p>iLvl 20: <b>8 to 22</b> (Вильмар Уровень 5)</p>
			<p>iLvl 30: <b>21 to 30</b></p>
			<p>iLvl 60: <b>31 to 36</b></p>
			<p>iLvl 81: <b>37 to 42</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading12">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
              Добавляет # - # Урона Холодом
            </a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
          <div class="panel-body">
			<p>iLvl 2: <b>1 to 2 / 3</b></p>
			<p>iLvl 12: <b>6 to 8</b> / <b>13 to 15</b></p>
			<p>iLvl 19: <b>10 to 13</b> / <b>19 to 23</b> (Icy)</p>
			<p>iLvl 20: <b>8 to 11 / 16 to 19</b> (Вильмар Уровень 3)</p>
			<p>iLvl 27: <b>14 to 18 / 27 to 32</b></p>
			<p>iLvl 30: <b>12 to 16 / 23 to 28</b> (Вильмар Уровень 5)</p>
			<p>iLvl 34: <b>17 to 23 / 34 to 40</b></p>
			<p>iLvl 43: <b>22 to 29 / 43 to 50</b></p>
			<p>iLvl 52: <b>26 to 35 / 52 to 60</b></p>
			<p>iLvl 63: <b>31 to 42 / 63 to 73</b></p>
			<p>iLvl 75: <b>37 to 50 / 74 to 87</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading13">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
              Добавляет # - # Урона Огнем
            </a>
          </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
          <div class="panel-body">
            <p>iLvl 1: <b>1 to 2 / 3 to 4</b></p>
			<p>iLvl 12: <b>8 to 10 / 15 to 18</b></p>
			<p>iLvl 18: <b>12 to 16 / 24 to 28</b></p>
			<p>iLvl 20: <b>10 to 13 / 20 to 23</b> (Вильмар Уровень 3)</p>
			<p>iLvl 26: <b>17 to 22 / 33 to 39</b></p>
			<p>iLvl 30: <b>15 to 19 / 29 to 34</b> (Вильмар Уровень 5)</p>
			<p>iLvl 33: <b>21 to 28 / 42 to 49</b></p>
			<p>iLvl 42: <b>26 to 35 / 53 to 61</b></p>
			<p>iLvl 51: <b>32 to 42 / 63 to 74</b></p>
			<p>iLvl 62: <b>38 to 51 / 77 to 89</b></p>
			<p>iLvl 74: <b>45 to 61 / 91 to 106</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading14">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
              Добавляет # - # Урона Молнии
            </a>
          </h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
          <div class="panel-body">
			<p>iLvl 3: <b>1 / 6</b></p>
			<p>iLvl 13: <b>1 to 2 / 27 to 28</b></p>
			<p>iLvl 19: <b>1 to 3 / 41 to 43</b></p>
			<p>iLvl 20: <b>1 to 3 / 34 to 36</b> (Вильмар lvl 3)</p>
			<p>iLvl 30: <b>1 to 4 / 50 to 52</b> (Вильмар lvl 5)</p>
			<p>iLvl 31: <b>2 to 5 / 58 to 61</b></p>
			<p>iLvl 34: <b>2 to 6 / 72 to 76</b></p>
			<p>iLvl 42: <b>2 to 7 / 91 to 96</b></p>
			<p>iLvl 51: <b>3 to 9 / 110 to 116</b></p>
			<p>iLvl 63: <b>4 to 11 / 133 to 140</b></p>
			<p>iLvl 74: <b>4 to 13 / 158 to 166</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading15">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
              Добавляет # - # Урона Хаосом
            </a>
          </h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
          <div class="panel-body">
            <p>iLvl 83: <b>47 to 72 / 98 to 123</b></p>
          </div>
        </div>
    </div>
    <!-- div1 Конец -->
</div>

	<div class="div2">
	<!-- Вторая панель -->
	<div class="alert alert-info" role="alert"><center>Суффикс</center></div>
	  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Уникальное ремесло мастеров
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		        <h3>Катерина | Catarina</h3>
			    <p>Уровень 8: Невозможно получить модификацию атак</p>
			    <h3>Эльпедон | Elreon</h3>
			    <p>Уровень 8: Может иметь больше одной ремесленной модификации</p>
			    <h3>Хаку | Haku</h3>
			    <p>Уровень 8: Префикс не может быть изменен</p>
			    <h3>Лео | Leo</h3>
			    <p>Уровень 8: Нельзя получить модификации требующие уровень больше 28.</p>
			    <h3>Вильмар | Vagan</h3>
			    <p>Уровень 7: от +1 до +2 к площади оружия</p>
			    <p>Уровень 8: Невозможно получить магические модификации</p>
		      </div>
		    </div>
		</div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
              +# к Показателю Меткости
            </a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="panel-body">
			<p>iLvl 1: <b>5 to 15</b></p>
			<p>iLvl 12: <b>16 to 60</b></p>
			<p>iLvl 20: <b>91 to 120</b> (Вильмар Уровень 3)</p>
			<p>iLvl 20: <b>61 to 100</b></p>
			<p>iLvl 26: <b>101 to 130</b></p>
			<p>iLvl 30: <b>121 to 150</b> (Вильмар Уровень 5)</p>
			<p>iLvl 33: <b>131 to 165</b></p>
			<p>iLvl 41: <b>166 to 200</b></p>
			<p>iLvl 50: <b>201 to 250</b></p>
			<p>iLvl 63: <b>251 to 320</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading16">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
              #% Увеличен Радиус Молний / +# к Показателю Меткости
            </a>
          </h4>
        </div>
        <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
          <div class="panel-body">
			<p>iLvl 8: <b>5 / 10 to 20</b></p>
			<p>iLvl 15: <b>10 / 21 to 40</b></p>
			<p>iLvl 30: <b>15 / 5 to 10</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading17">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
              #% Увелечение Скорости Атаки
            </a>
          </h4>
        </div>
        <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
          <div class="panel-body">
			<p>iLvl 1: <b>5 to 7</b></p>
			<p>iLvl 11: <b>8 to 10</b></p>
			<p>iLvl 20: <b>8 to 11</b> (Вильмар Уровень 5)</p>
			<p>iLvl 22: <b>11 to 13</b></p>
			<p>iLvl 30: <b>12 to 15</b> (Вильмар Уровень 6)</p>
			<p>iLvl 30: <b>14 to 16</b></p>
			<p>iLvl 37: <b>17 to 19</b></p>
			<p>iLvl 45: <b>20 to 22</b></p>
			<p>iLvl 60: <b>23 to 25</b></p>
			<p>iLvl 77: <b>26 to 27</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading18">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
              +# к Ловкости
            </a>
          </h4>
        </div>
        <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
          <div class="panel-body">
			<p>iLvl 1: <b>8 to 12</b></p>
			<p>iLvl 11: <b>13 to 17</b></p>
			<p>iLvl 15: <b>20 to 25</b> (Вильмар Уровень 2)</p>
			<p>iLvl 22: <b>18 to 22</b></p>
			<p>iLvl 25: <b>26 to 30</b> (Вильмар Уровень 5)</p>
			<p>iLvl 33: <b>23 to 27</b></p>
			<p>iLvl 44: <b>28 to 32</b></p>
			<p>iLvl 55: <b>33 to 37</b></p>
			<p>iLvl 66: <b>38 to 42</b></p>
			<p>iLvl 74: <b>43 to 50</b></p>
			<p>iLvl 82: <b>51 to 55</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading19">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
              +# к Силе
            </a>
          </h4>
        </div>
        <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
          <div class="panel-body">
			<p>iLvl 1: <b>8 to 12</b></p>
			<p>iLvl 11: <b>13 to 17</b></p>
			<p>iLvl 15: <b>20 to 25</b> (Вильмар Уровень 2)</p>
			<p>iLvl 22: <b>18 to 22</b></p>
			<p>iLvl 25: <b>26 to 30</b> (Вильмар Уровень 5)</p>
			<p>iLvl 33: <b>23 to 27</b></p>
			<p>iLvl 44: <b>28 to 32</b></p>
			<p>iLvl 55: <b>33 to 37</b></p>
			<p>iLvl 66: <b>38 to 42</b></p>
			<p>iLvl 74: <b>43 to 50</b></p>
			<p>iLvl 82: <b>51 to 55</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading20">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
              #% Увеличен Шанс Критической Атаки
            </a>
          </h4>
        </div>
        <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20">
          <div class="panel-body">
			<p>iLvl 1: <b>10 to 14</b></p>
			<p>iLvl 20: <b>17 to 21</b> (Вильмар Уровень 2)</p>
			<p>iLvl 20: <b>15 to 19</b></p>
			<p>iLvl 30: <b>22 to 27</b> (Вильмар Уровень 4)</p>
			<p>iLvl 30: <b>20 to 24</b></p>
			<p>iLvl 44:<b> 25 to 29</b></p>
			<p>iLvl 59: <b>30 to 34</b></p>
			<p>iLvl 73: <b>35 to 38</b></p>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading21">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
              #% Увеличен Глобальный Множитель Критического Урона
            </a>
          </h4>
        </div>
        <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
          <div class="panel-body">
			<p>iLvl 8: <b>10 to 14</b></p>
			<p>iLvl 20: <b>17 to 21</b> (Вильмар Уровень 3)</p>
			<p>iLvl 21: <b>15 to 19</b></p>
			<p>iLvl 30: <b>22 to 27</b> (Вильмар Уровень 5)</p>
			<p>iLvl 30: <b>20 to 24</b></p>
			<p>iLvl 44: <b>25 to 29</b></p>
			<p>iLvl 59: <b>30 to 34</b></p>
			<p>iLvl 73: <b>35 to 38</b></p>
          </div>
        </div>
    </div>
		<!-- END -->
	</div>
	<!-- Text -->
	<p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>

<p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>