<% provide(:title, 'Одноручные топоры') %>
<center><h1>Одноручный топор</h1></center>
<!-- Button trigger modal -->
<div class="modal-body">
<center><button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
  Осквернено
</button></center>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Corrupted One Hand Axe Implict</h4>
      </div>
      <div class="modal-body">
      <ul class='divination'>
		<li>Уровень предмета 1: 0.2% урона Огнем Возращается в виде Здоровья</li>
		<li>Уровень предмета 1: 0.2% урона Холодом Возращается в виде Здоровья</li>
		<li>Уровень предмета 1: 0.2% урона Молнией Возращается в виде Здоровья</li>
		<li>Уровень предмета 1: 5% шанс заставить монстров Бежать</li>
		<li>Уровень предмета 1: +1-2 к Дальности оружия</li>
		<li>Уровень предмета 1: Добавляет 1-2 / 3-5 Урона Хаосом</li>
		<li>Уровень предмета 1: Добивающий Удар</li>
		<li>Уровень предмета 20: Камни в этом предмете поддерживаются 10 Уровенем Раскатистого Удара</li>
		<li>Уровень предмета 20: Добавляет 6-8 / 11-13 Урона Хаосом</li>
		<li>Уровень предмета 31: Добавляет способность Беззащитность 10 Уровня</li>
		<li>Уровень предмета 40: Добавляет 8-11 / 19-23 Урона Хаосом</li>
	  </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<!-- Paneli -->
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="div1">
		<div class="alert alert-info" role="alert"><center>Префикс</center></div>
		<!-- Панель -->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
              Уникальное ремесло мастеров
            </a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <div class="panel-body">
            <h3>Лео | Leo</h3>
          <ul class='divination'>
            <li>Уровень 2: от 10% до 15% сниженный шанс блокирования противника.</li>
            <li>Уровень 3: от 15% до 30% увеличеный урон наносимый со временем.</li>
          </ul>
            <h3>Терона | Tora</h3>
            <ul class='divination'><li>Уровень 8: Суффиксы не могут быть изменены.</li></ul>
            <h3>Вильмар | Vagan</h3>
            <ul class='divination'><li>Уровень 6: от 2% до 5% дополнительного шанса блока при парном экипировании оружия.</li>
            <li>Уровень 7: Приводит к кровотечению при попадании в противника.</li></ul>
          </div>
        </div>
    </div>
		 <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Добавляет # - # Физического Урона
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		      <ul class='divination'>
		        <li>Уровень предмета 2: <b>1 / 2-3</b></li>
				<li>Уровень предмета 13: <b>4-5 / 8-9</b></li>
				<li>Уровень предмета 20: <b>7-9 / 13-16</b> (Вильмар lvl 2)</li>
				<li>Уровень предмета 21: <b>6-8 / 12-14</b></li>
				<li>Уровень предмета 29: <b>7-10 / 15-18</b></li>
				<li>Уровень предмета 30: <b>10-13 / 17-20</b> (Вильмар lvl 4)</li>
				<li>Уровень предмета 36: <b>9-12 / 19-22</b></li>
				<li>Уровень предмета 46: <b>12-16 / 24-28</b></li>
				<li>Уровень предмета 54: <b>13-18 / 27-32</b></li>
				<li>Уровень предмета 65: <b>16-22 / 33-38</b></li>
				<li>Уровень предмета 77: <b>19-25 / 38-45</b></li>
		      </ul>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          #% увеличен Физический Урон
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		      <ul class='divination'>
				<li>Уровень предмета 1: <b>40-49</b></li>
				<li>Уровень предмета 11: <b>50-64</b></li>
				<li>Уровень предмета 20: <b>40-59</b> (Вильмар lvl 3)</li>
				<li>Уровень предмета 23: <b>65-84</b></li>
				<li>Уровень предмета 30: <b>60-79</b> (Вильмар lvl 5)</li>
				<li>Уровень предмета 35: <b>85-109</b></li>
				<li>Уровень предмета 46: <b>110-134</b></li>
				<li>Уровень предмета 60: <b>135-154</b></li>
				<li>Уровень предмета 73: <b>155-169</b></li>
				<li>Уровень предмета 83: <b>170-179</b></li>
		      </ul>
		      </div>
		    </div>
		  </div>
	 <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
              #% увеличен Физический Урон / +# к показателю Меткости
            </a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
          <div class="panel-body">
          <ul class='divination'>
				<li>Уровень предмета 1: <b>15-19</b> / <b>3-7</b></li>
				<li>Уровень предмета 11: <b>20-24</b> / <b>8-30</b></li>
				<li>Уровень предмета 23: <b>25-34</b> / <b>31-50</b></li>
				<li>Уровень предмета 35: <b>35-44</b> / <b>51-64</b></li>
				<li>Уровень предмета 46: <b>45-54</b> / <b>65-82</b></li>
				<li>Уровень предмета 60: <b>55-64</b> / <b>83-99</b></li>
				<li>Уровень предмета 73: <b>65-74</b> / <b>100-134</b></li>
				<li>Уровень предмета 83: <b>75-79</b> / <b>135-169</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading7">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
              К локальному уровню камней
            </a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
          <div class="panel-body">
          <ul class='divination'>
            <li>Уровень предмета 50: <b>+1</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading8">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
              К локальному уровню камней ближнего боя
            </a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
          <div class="panel-body">
          <ul class='divination'>
            <li>Уровень предмета 8: <b>+1</b></li>
			<li>Уровень предмета 63: <b>+2</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading9">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
              #% Физического Урона Восполняется как Здоровье
            </a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
          <div class="panel-body">
          <ul class='divination'>
            <li>Уровень предмета 20: <b>0.2</b> to 0.4</li>
			<li>Уровень предмета 35: <b>0.6</b> to 0.8</li>
			<li>Уровень предмета 50: <b>0.2</b> to 0.4</li>
			<li>Уровень предмета 60: <b>0.6</b> to 0.8</li>
			<li>Уровень предмета 70: <b>1</b> to <b>1.2</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading10">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
              #% Физического Урона Восполняется как Мана
            </a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
          <div class="panel-body">
          <ul class='divination'>
            <li>Уровень предмета 20: <b>0.2 to <b>0.4</b></b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 50: <b>0.2</b> to <b>0.4</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading11">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
              +% Увеличен элементальный урон с оружием
            </a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 4: <b>5-10</b></li>
			<li>Уровень предмета 15: <b>11-20</b></li>
			<li>Уровень предмета 20: <b>8-22</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 30: <b>21-30</b></li>
			<li>Уровень предмета 60: <b>31-36</b></li>
			<li>Уровень предмета 81: <b>37-42</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading12">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
              Добавляет # - # Урона Холодом
            </a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 2: <b>1-2 / 3</b></li>
			<li>Уровень предмета 12: <b>6-8</b> / <b>13-15</b></li>
			<li>Уровень предмета 19: <b>10-13</b> / <b>19-23</b> (Icy)</li>
			<li>Уровень предмета 20: <b>8-11 / 16-19</b> (Вильмар Уровень 3)</li>
			<li>Уровень предмета 27: <b>14-18 / 27-32</b></li>
			<li>Уровень предмета 30: <b>12-16 / 23-28</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 34: <b>17-23 / 34-40</b></li>
			<li>Уровень предмета 43: <b>22-29 / 43-50</b></li>
			<li>Уровень предмета 52: <b>26-35 / 52-60</b></li>
			<li>Уровень предмета 63: <b>31-42 / 63-73</b></li>
			<li>Уровень предмета 75: <b>37-50 / 74-87</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading13">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
              Добавляет # - # Урона Огнем
            </a>
          </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
          <div class="panel-body">
          <ul class='divination'>
            <li>Уровень предмета 1: <b>1-2 / 3-4</b></li>
			<li>Уровень предмета 12: <b>8-10 / 15-18</b></li>
			<li>Уровень предмета 18: <b>12-16 / 24-28</b></li>
			<li>Уровень предмета 20: <b>10-13 / 20-23</b> (Вильмар Уровень 3)</li>
			<li>Уровень предмета 26: <b>17-22 / 33-39</b></li>
			<li>Уровень предмета 30: <b>15-19 / 29-34</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 33: <b>21-28 / 42-49</b></li>
			<li>Уровень предмета 42: <b>26-35 / 53-61</b></li>
			<li>Уровень предмета 51: <b>32-42 / 63-74</b></li>
			<li>Уровень предмета 62: <b>38-51 / 77-89</b></li>
			<li>Уровень предмета 74: <b>45-61 / 91-106</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading14">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
              Добавляет # - # Урона Молнии
            </a>
          </h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 3: <b>1 / 6</b></li>
			<li>Уровень предмета 13: <b>1-2 / 27-28</b></li>
			<li>Уровень предмета 19: <b>1-3 / 41-43</b></li>
			<li>Уровень предмета 20: <b>1-3 / 34-36</b> (Вильмар lvl 3)</li>
			<li>Уровень предмета 30: <b>1-4 / 50-52</b> (Вильмар lvl 5)</li>
			<li>Уровень предмета 31: <b>2-5 / 58-61</b></li>
			<li>Уровень предмета 34: <b>2-6 / 72-76</b></li>
			<li>Уровень предмета 42: <b>2-7 / 91-96</b></li>
			<li>Уровень предмета 51: <b>3-9 / 110-116</b></li>
			<li>Уровень предмета 63: <b>4-11 / 133-140</b></li>
			<li>Уровень предмета 74: <b>4-13 / 158-166</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading15">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
              Добавляет # - # Урона Хаосом
            </a>
          </h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
          <div class="panel-body">
          <ul class='divination'>
            <li>Уровень предмета 83: <b>47-72 / 98-123</b></li>
          </ul>
          </div>
        </div>
    </div>
    <!-- div1 Конец -->
</div>

	<div class="div2">
	<!-- Вторая панель -->
	<div class="alert alert-info" role="alert"><center>Суффикс</center></div>
	  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Уникальное ремесло мастеров
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		        <h3>Катерина | Catarina</h3>
			    <ul class='divination'><li>Уровень 8: Невозможно получить модификацию атак</li></ul>
			    <h3>Эльпедон | Elreon</h3>
			    <ul class='divination'><li>Уровень 8: Может иметь больше одной ремесленной модификации</li></ul>
			    <h3>Хаку | Haku</h3>
			    <ul class='divination'><li>Уровень 8: Префикс не может быть изменен</li></ul>
			    <h3>Лео | Leo</h3>
			    <ul class='divination'><li>Уровень 8: Нельзя получить модификации требующие уровень больше 28.</li></ul>
			    <h3>Вильмар | Vagan</h3>
			    <ul class='divination'><li>Уровень 7: от +1 до +2 к площади оружия</li>
			    <li>Уровень 8: Невозможно получить магические модификации</li></ul>
		      </div>
		    </div>
		</div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
              +# к Показателю Меткости
            </a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>5-15</b></li>
			<li>Уровень предмета 12: <b>16-60</b></li>
			<li>Уровень предмета 20: <b>91-120</b> (Вильмар Уровень 3)</li>
			<li>Уровень предмета 20: <b>61-100</b></li>
			<li>Уровень предмета 26: <b>101-130</b></li>
			<li>Уровень предмета 30: <b>121-150</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 33: <b>131-165</b></li>
			<li>Уровень предмета 41: <b>166-200</b></li>
			<li>Уровень предмета 50: <b>201-250</b></li>
			<li>Уровень предмета 63: <b>251-320</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading16">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
              #% Увеличен Радиус Молний / +# к Показателю Меткости
            </a>
          </h4>
        </div>
        <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 8: <b>5 / 10-20</b></li>
			<li>Уровень предмета 15: <b>10 / 21-40</b></li>
			<li>Уровень предмета 30: <b>15 / 5-10</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading17">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
              #% Увелечение Скорости Атаки
            </a>
          </h4>
        </div>
        <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>5-7</b></li>
			<li>Уровень предмета 11: <b>8-10</b></li>
			<li>Уровень предмета 20: <b>8-11</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 22: <b>11-13</b></li>
			<li>Уровень предмета 30: <b>12-15</b> (Вильмар Уровень 6)</li>
			<li>Уровень предмета 30: <b>14-16</b></li>
			<li>Уровень предмета 37: <b>17-19</b></li>
			<li>Уровень предмета 45: <b>20-22</b></li>
			<li>Уровень предмета 60: <b>23-25</b></li>
			<li>Уровень предмета 77: <b>26-27</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading18">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
              +# к Ловкости
            </a>
          </h4>
        </div>
        <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>8-12</b></li>
			<li>Уровень предмета 11: <b>13-17</b></li>
			<li>Уровень предмета 15: <b>20-25</b> (Вильмар Уровень 2)</li>
			<li>Уровень предмета 22: <b>18-22</b></li>
			<li>Уровень предмета 25: <b>26-30</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 33: <b>23-27</b></li>
			<li>Уровень предмета 44: <b>28-32</b></li>
			<li>Уровень предмета 55: <b>33-37</b></li>
			<li>Уровень предмета 66: <b>38-42</b></li>
			<li>Уровень предмета 74: <b>43-50</b></li>
			<li>Уровень предмета 82: <b>51-55</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading19">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
              +# к Силе
            </a>
          </h4>
        </div>
        <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>8-12</b></li>
			<li>Уровень предмета 11: <b>13-17</b></li>
			<li>Уровень предмета 15: <b>20-25</b> (Вильмар Уровень 2)</li>
			<li>Уровень предмета 22: <b>18-22</b></li>
			<li>Уровень предмета 25: <b>26-30</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 33: <b>23-27</b></li>
			<li>Уровень предмета 44: <b>28-32</b></li>
			<li>Уровень предмета 55: <b>33-37</b></li>
			<li>Уровень предмета 66: <b>38-42</b></li>
			<li>Уровень предмета 74: <b>43-50</b></li>
			<li>Уровень предмета 82: <b>51-55</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading20">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
              #% Увеличен Шанс Критической Атаки
            </a>
          </h4>
        </div>
        <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>10-14</b></li>
			<li>Уровень предмета 20: <b>17-21</b> (Вильмар Уровень 2)</li>
			<li>Уровень предмета 20: <b>15-19</b></li>
			<li>Уровень предмета 30: <b>22-27</b> (Вильмар Уровень 4)</li>
			<li>Уровень предмета 30: <b>20-24</b></li>
			<li>Уровень предмета 44:<b> 25-29</b></li>
			<li>Уровень предмета 59: <b>30-34</b></li>
			<li>Уровень предмета 73: <b>35-38</b></li>
			</ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading21">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
              #% Увеличен Глобальный Множитель Критического Урона
            </a>
          </h4>
        </div>
        <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 8: <b>10-14</b></li>
			<li>Уровень предмета 20: <b>17-21</b> (Вильмар Уровень 3)</li>
			<li>Уровень предмета 21: <b>15-19</b></li>
			<li>Уровень предмета 30: <b>22-27</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 30: <b>20-24</b></li>
			<li>Уровень предмета 44: <b>25-29</b></li>
			<li>Уровень предмета 59: <b>30-34</b></li>
			<li>Уровень предмета 73: <b>35-38</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading22">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapse22">
              +# Здоровья получаемого при Убийстве
            </a>
          </h4>
        </div>
        <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading22">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>3-6</b></li>
			<li>Уровень предмета 23: <b>7-10</b></li>
			<li>Уровень предмета 40: <b>11-14</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading23">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapse23">
              +# Здоровья получаемого при каждом Попадании по Противнику
            </a>
          </h4>
        </div>
        <div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading23">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 8: <b>2</b></li>
			<li>Уровень предмета: 20: <b>2-3</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 20: 3</li>
			<li>Уровень предмета 30: <b>4</b></li>
			<li>Уровень предмета 40: <b>5</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading24">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapse24">
              +# Мана получаемая при Убийстве
            </a>
          </h4>
        </div>
        <div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading24">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>1</b></li>
			<li>Уровень предмета 24: <b>2-3</b></li>
			<li>Уровень предмета 40: <b>4-6</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading25">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="false" aria-controls="collapse25">
              #% Сопротевления Холоду
            </a>
          </h4>
        </div>
        <div id="collapse25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading25">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>6-11</b></li>
			<li>Уровень предмета 14: <b>12-17</b></li>
			<li>Уровень предмета 20: <b>16-20</b> (Вильмар Уровень 3)</li>
			<li>Уровень предмета 26: <b>18-23</b></li>
			<li>Уровень предмета 30: <b>21-25</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 38: <b>24-29</b></li>
			<li>Уровень предмета 50: <b>30-35</b></li>
			<li>Уровень предмета 60: <b>36-41</b></li>
			<li>Уровень предмета 72: <b>42-45</b></li>
			<li>Уровень предмета 84: <b>46-48</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading26">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapse26">
              #% Сопротевления Огню
            </a>
          </h4>
        </div>
        <div id="collapse26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading26">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>6-11</b></li>
			<li>Уровень предмета 12: <b>12-17</b></li>
			<li>Уровень предмета 20: <b>16-20</b> (Вильмар Уровень 3)</li>
			<li>Уровень предмета 24: <b>18-23</b></li>
			<li>Уровень предмета 30: <b>21-25</b> (Вильмар Уровень 5)</li>
			<li>Уровень предмета 36: <b>24-29</b></li>
			<li>Уровень предмета 48: <b>30-35</b></li>
			<li>Уровень предмета 60: <b>36-41</b></li>
			<li>Уровень предмета 72: <b>42-45</b></li>
			<li>Уровень предмета 84: <b>46-48</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading27">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse27" aria-expanded="false" aria-controls="collapse27">
              #% Сопротевления Молнии
            </a>
          </h4>
        </div>
        <div id="collapse27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading27">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 1: <b>6-11</b></li>
			<li>Уровень предмета 13: <b>12-17</b></li>
			<li>Уровень предмета 20: <b>16-20</b> (Вильмар Уровень3)</li>
			<li>Уровень предмета 25: <b>18-23</b></li>
			<li>Уровень предмета 30: <b>21-25</b> (Вильмар Уровень5)</li>
			<li>Уровень предмета 37: <b>24-29</b></li>
			<li>Уровень предмета 49: <b>30-35</b></li>
			<li>Уровень предмета 60: <b>36-41</b></li>
			<li>Уровень предмета 72: <b>42-45</b></li>
			<li>Уровень предмета 84: <b>46-48</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading45">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse45" aria-expanded="false" aria-controls="collapse45">
              #% Сопротевления Хаосу
            </a>
          </h4>
        </div>
        <div id="collapse45" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading45">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 16: <b>5-10</b></li>
			<li>Уровень предмета 30: <b>11-15</b></li>
			<li>Уровень предмета 44: <b>16-20</b></li>
			<li>Уровень предмета 56: <b>21-25</b></li>
			<li>Уровень предмета 65: <b>26-30</b></li>
			<li>Уровень предмета 81: <b>31-35</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading28">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse28" aria-expanded="false" aria-controls="collapse28">
              #% Снижение Требований Экипировки
            </a>
          </h4>
        </div>
        <div id="collapse28" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading28">
          <div class="panel-body">
			<ul class='divination'><li>Уровень предмета 36: <b>-18</b></li>
			<li>Уровень предмета 60: <b>-32</b></li></ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading29">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse29" aria-expanded="false" aria-controls="collapse29">
              #% Увелечение продолжительности Оглушения Противника
            </a>
          </h4>
        </div>
        <div id="collapse29" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading29">
          <div class="panel-body">
          <ul class='divination'>
			<li>Уровень предмета 5: <b>11-15</b></li>
			<li>Уровень предмета 18: <b>16-20</b></li>
			<li>Уровень предмета 20: <b>23-28</b> (Вильмар Уровень 6)</li>
			<li>Уровень предмета 30: <b>21-25</b></li>
			<li>Уровень предмета 44: <b>26-30</b></li>
			<li>Уровень предмета 58: <b>31-35</b></li>
          </ul>
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading30">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse30" aria-expanded="false" aria-controls="collapse30">
              #% Уменьшение количества Урона Требуемого для Оглушения Противника
            </a>
          </h4>
        </div>
        <div id="collapse30" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading30">
          <div class="panel-body">
          <ul class='divination'>
          	<li>(Reduce Stun Threshold)</li>
          	<li>Уровень предмета 5: <b>5-7</b></li>
			<li>Уровень предмета 20: <b>11-12</b> (Вильмар Уровень 6)</li>
			<li>Уровень предмета 20: <b>8-9</b></li>
			<li>Уровень предмета 30: <b>10-11</b></li>
			<li>Уровень предмета 44: <b>12-13</b></li>
			<li>Уровень предмета 58: <b>14-15</b></li>
          </ul>
          </div>
        </div>
    </div>
		<!-- END -->
	</div>
	<!-- Text -->
	<p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>

<p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>